# Datos
*.csv
*.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Testing
testcsv.py
testsql.py

# Carpetas
implementaciones/
assets/
bd/